/*
* @Author: Galena
* @Date:   2019-03-12 20:10:43
* @Last Modified by:   Galena
* @Last Modified time: 2019-03-13 22:28:23
*/
* {
	margin: 0;
	padding: 0;
	background-color: #494A5F;

}

#main {
	background-color: #494A5F;
	min-width: 1200px;
	margin: 270px 0;
}

#wrapper {
	text-align: center;
}


.kbd {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: 1px solid #D5D6E2;
	border-radius: 16px;
	margin: 8px;
	color: #D5D6E2;
	vertical-align: middle; 
	/*原来有bug，hover时会移动，加上vertical-align就好了*/
}

.kbd > .letter {
	background-color: transparent;
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	height: 100%;
	line-height: 100px;
	vertical-align: middle;
	cursor: pointer;
}

.kbd > .buttonWrapper {
	height: 30%;
	border-radius: 0 0 16px 16px;
	display: none;
}

.kbd > .buttonWrapper > button {
	width: 50%;
	line-height: 30px;
	border: none;
	background-color: transparent;
	color: #D5D6E2;
	cursor: pointer;
}

.kbd:hover > .buttonWrapper {
	background-color: #3D3E4E;
	display: block;
}

.kbd:hover > .letter {
	height: 70%;
	line-height: 70px;
	transition: line-height 0.2s;
}

.site {
	background-color: #3D3E4E;
	font-size: 30px;
	color: #D5D6E2;
	box-shadow: inset 0px 0px 23px 5px rgba(0,0,0,0.3);

}

.head {
	position: fixed;
	top: 0;
	background-color: black;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #D5D6E2;
	width: 100%;
	min-width: 1200px;
	padding: 30px;
}
.foot {
	position: fixed;
	bottom: 0;
	background-color: black;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #D5D6E2;
	width: 100%;
	min-width: 1200px;
	padding: 10px;
}